.container2 .d-none.d-lg-flex {
  max-width: 1040px;
  height: 68px;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.container2 .btn {
  background: rgb(242, 242, 242);
  border: 0.8px solid rgb(152, 152, 153);
}
.container2 ul li a {
  text-decoration: none;
  color: gray;
}

@media (max-width: 991.98px) {
  .container2 .d-none.d-lg-flex {
    display: none;
  }
}
